<%- include("partials/header", {user: user}) %>
    <div class="container-fluid full-page-with-nav">
        <div class="row h-100">
            <div class="col pt-4">
                <h1>Hello World</h1>
            </div>
        </div>
    </div>
</body>
</html>