<%- include("partials/header", {user: user}) %>
    <div class="container-fluid full-page-with-nav">
        <div class="row h-100">
            <div class="col">
                <h1 class="pt-4">Hola desde ruta protegida.</h1>
            </div>
        </div>
    </div>
<%- include("partials/footer") %>